/* core elements */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Ubuntu&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#title {
    text-align: left;
}

#title,
#cta {
    background: #FF4C68;
}

#title,
#testimonials,
#cta h3 {
    color: #FFFFFF;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1,
h2,
h3,
.navbar-brand {
    font-weight: 900;
}

h1,
#cta h3 {
    font-size: 3.5rem;
    line-height: 1.5;
}

/* nav bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bolder;
}

/* download buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image {
    position: absolute;
    right: 30%;
    transform: rotate(25deg);
    width: 60%;
}

/* features section */

#features {
    margin-bottom: 5rem;
    padding-top: 5rem;
    position: relative;
}

#footer,
#features {
    background-color: #FFFFFF;
}

.feature-style {
    margin: 1.8rem 0;
    padding-right: 2rem;
}

.icon {
    color: #EF8172;
    padding-bottom: 1rem;
}

.icon:hover {
    color: #FF4C68;
}

.feature-p {
    color: #8F8F8F;
}

/* testimonials & carousel */

#testimonials,
#press {
    background-color: #EF8172;
}

.testimonial-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.carousel-item {
    padding: 7% 15%;
}

/* press section */

#press {
    padding-bottom: 3%;
}

.press-logo {
    margin: 5px 20px 50px;
    width: 15%;
}

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/* cta section */

#cta {
    padding: 3.5rem;
}

#cta h3 {
    padding: 3rem;
}

#cta button {
    margin: 2%;
}

/* footer section */

#footer {
    padding-top: 2.5rem;
}

#footer i {
    cursor: pointer;
    padding: 20px;
}

/* Break at 1028px to prevent image going awry! */

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }

}
